nav li{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 150px;
    height: 40px;
    border-right: 1px solid #CCCCCC;
    text-align: center;
    line-height: 40px;
}
nav li a{
    display: block;
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: red;
}